<div class="footer">
    <div class="container-fluid container-lg">
        <div class="row footer-content">
            <div class="col-md-4 mb-3">
                <div class="d-flex">
                    <img alt="logo" src="~/images/logo.png" />
                    <span class="fs-20 d-flex align-items-center ms-2 text-white">
                        SEAMEO CELLL
                    </span>
                </div>
               
                <p class="mt-3 mb-4">
                    TRUNG TÂM KHU VỰC VỀ HỌC TẬP SUỐT ĐỜI CỦA SEAMEO TẠI VIỆT NAM
                </p>
                <div class="footer-subscribe">
                    <input placeholder="Nhập email">
                    <button class="footer-subscribe-send">Gửi</button>
                </div>
                <p class="fs-14">Gửi email để nhận được thông tin mới nhất từ chúng tôi
            </div>
            <div class="col-md-4 mb-3">
                <div class="d-flex flex-column ms-sm-2">
                    <div class="footer-title-list">Danh mục</div>
                    <ul class="list-style-dot">
                        <li>Trang chủ</li>
                        <li>Tin tức</li>
                        <li>Ngân hàng câu hỏi</li>
                        <li>Thư viện</li>
                        <li>Cuộc thi</li>
                        <li>Nạp tiền</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="footer-title-list">Liên hệ</div>
                <div class="d-flex fs-18 mt-abs-30 "><i class="fa fa-map-marker text-green-02 me-2 mt-abs-2" aria-hidden="true"></i>Địa chỉ: 33C Lê Thánh Tôn, Phường Bến Nghé, Quận 1, TP.HCM</div>
                <div class="d-flex fs-18 mt-abs-20"><i class="fa fa-envelope text-green-02 me-2 mt-abs-2" aria-hidden="true"></i>Email: hotro@cellla.vn</div>
                <div class="d-flex fs-18 mt-abs-20"><i class="fa fa-phone text-green-02 me-2 mt-abs-2" aria-hidden="true"></i>Hotline: 024-39938652</div>
            </div>
        </div>

    </div>
    <div class="footer-copy-right">© Copyright by SEAMEO CELLL 2023. All Rights Reserved.</div>
</div>