@model CBAMONLINE.Models.Contest.ContestItem;

@{
    ViewData["Title"] = "Đăng ký thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var contestId = ViewBag.ContestId;
    var breadcrum = "Đăng kí thi";

    var name = Model.name;
    var content = Model.content;
}


<partial name="_Breadcrum" model="@breadcrum" />

<input id="contestId" hidden value="@contestId" />
<!-- Layout -->
<div class="exam-register">
    <p id="contestName" class="fs-26 text-purple-01">@name</p>
    <ul class="steps">
        <li>
            <span class="step-number">1</span>
            <div class="step-text">
                <p class="step-content-title">Giới thiệu</p>
                <p class="step-content-desc">Giới thiệu về thể cuộc thi</p>
            </div>
        </li>
        <li>
            <span class="step-number">2</span>
            <div class="step-text">
                <p class="step-content-title">Đăng ký</p>
                <p class="step-content-desc">Đăng ký thông tin dự thi</p>
            </div>
        </li>
        <li>
            <span class="step-number">3</span>
            <div class="step-text">
                <p class="step-content-title">Hoàn thành</p>
                <p class="step-content-desc">Hoàn thành đăng ký</p>
            </div>
        </li>
    </ul>
    <div class="step-wrapper text">
        <div class="step-content fs-16">
            <p class="fs-20 text-gray-04 mb-3">Giới thiệu cuộc thi</p>
            <p class="mb-3">@content</p>
            <p>1. Một số lưu ý</p>
            <div class="ps-4">
                <ul class="list-style-dot">
                    <li class="mt-abs-16">
                        Thời gian sẽ đếm ngược về 0, khi về 0 hệ thống sẽ tự động thu bài và
                        thông
                        báo kết quả.
                    </li>
                    <li class="mt-abs-16">
                        Khi trả lời hết các câu hỏi, bạn chọn nút "NỘP BÀI" màu xanh bên phải.
                    </li>
                    <li class="mt-abs-16">
                        Có thể chỏ chuột lên thanh tiến độ màu xanh để đến vị trí câu cần quan
                        tâm.
                    </li>
                    <li class="mt-abs-16">
                        Bạn không trả lời câu nào thanh tiến độ sẽ trống (màu trắng vị trí
                        đó).
                    </li>
                    <li class="mt-abs-16">
                        Khi kết thúc bài thi bạn có thể xem được đáp án đúng,sai so với hệ
                        thống.
                    </li>
                    <li class="text-red-01 mt-abs-16">
                        Bạn nên chuẩn bị sẵn giấy nháp, bút, máy tính và các dụng
                        cụ
                        học tập hỗ trợ việc làm bài.
                    </li>
                    <li class="text-red-01 mt-abs-16">
                        Chúng tôi khuyến cáo bạn không nên sử dụng sách và tài
                        liệu
                        trong khi làm bài.
                    </li>
                </ul>
            </div>
            <p class="mt-5">2. Các bước làm bài</p>
            <div class="ps-4">
                <ul class="list-style-dot">
                    <li class="mt-abs-16">Bước 1: Đọc thông tin câu hỏi.</li>
                    <li class="mt-abs-16">Bước 2: Chọn Phương án đúng( phương án chọn sẽ được đánh dấu màu xanh).</li>
                    <li class="mt-abs-16">Bước 3: Lựa chọn các câu tiếp theo đến hết.</li>
                    <li class="mt-abs-16">Bước 4: Chọn nút NỘP BÀI để hoàn thành bài thi.</li>
                </ul>
            </div>
            <div class="form-group">
                <button class="btn btn-light" disabled><i class="fa fa-angle-left me-2" aria-hidden="true"></i> Quay lại</button>
                <button class="btn btn-primary next">Tiếp theo <i class="fa fa-angle-right ms-2" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="step-content">
            <p class="fs-20 text-gray-04 mb-4">Đăng ký thông tin cá nhân</p>
            <partial name="_ContestForm" />

            <div class="form-group">
                <button class="btn btn-primary back"><i class="fa fa-angle-left me-2" aria-hidden="true"></i> Quay lại</button>
                <button id="register-contest-btn" onclick="registerContest()" class="btn btn-success next">Đăng kí <i class="fa fa-angle-right ms-2" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="step-content">
            <div class="py-abs-15 br-radius-4 bg-green-01 text-green px-3 fs-24 d-flex align-items-center mb-abs-12">
                <img src="~/images/icon-check.png" alt="icon-check" class="mr-abs-28">
                Hoàn thành đăng ký
            </div>

            <div class="text-center mb-4"><img src="~/images/register-finish.png" alt="register-finish"></div>
            <p class="fs-20">Xin cảm ơn 😇</p>
            <div class="ps-4 mt-4">
                <ul class="list-style-dot fs-14">
                    <li class="mb-2">Bạn đã hoàn thành đăng ký tham gia cuộc thi.</li>
                    <li>Bộ phận hổ trợ sẽ liên hệ và tư vấn trong thời gian nhanh nhất.</li>
                </ul>
            </div>
            <div class="form-group d-flex justify-content-end">
                <button onclick="registerDone()" class="btn btn-success ">Hoàn tất <i class="fa fa-angle-right ms-2" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/examRegister.js" asp-append-version="true"></script>
}



