
<div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
    <partial name="~/Views/UserProfile/Index/_UpdateProfile.cshtml" />
    <partial name="~/Views/UserProfile/Index/_ChangePassword.cshtml" />
</div>

