<div class="p-4 box-shadow-2 br-radius-8 bg-white mt-4">
    <form autocomplete="off" id="changePasswordForm" onsubmit="return false;">
        <p class="fs-20 mb-4">Thay đổi mật khẩu</p>
        <div class="row">
            <div class="col-sm-6 form-group-item">
                <label class="form-label" for="oldPassword">Mật khẩu hiện tại</label>
                <input required autocomplete="off" type="password" class="form-control" placeholder="·········" id="oldPassword" name="oldPassword">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-sm-6 form-group-item">
                <label for="newPassword" class="form-label">Nhập mật khẩu mới</label>
                <input autocomplete="off" required type="password" class="form-control" placeholder="·········" id="newPassword" name="newPassword">
            </div>
            <div class="col-sm-6 form-group-item">
                <label for="confirmNewPassword" class="form-label">Nhập lại mật khẩu</label>
                <input autocomplete="off" required type="password" class="form-control" placeholder="·········" data-val="true" id="confirmNewPassword"
                       name="confirmNewPassword">
            </div>
        </div>
        <p class="fs-20 mb-3">Yêu cầu mật khẩu</p>
        <ul class="list-style-dot mb-abs-32 fs-15">
            <li>Tối thiểu 8 ký tự - càng nhiều, càng tốt</li>
            <li>Ít nhất một ký tự viết thường</li>
            <li>Ít nhất một số, ký hiệu hoặc ký tự khoảng trắng</li>
        </ul>
        <div class="d-flex">
            <button type="button" form="#changePasswordForm" onclick="changePassword()" class="btn btn-primary btn-sm me-2">
                Thay đổi
            </button>
        </div>
    </form>
</div>
