@model CBAMONLINE.Models.Auth.ResetPassword.ResetPasswordRequest

@{
    ViewData["Title"] = "Reset mật khẩu";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    
    var code = @ViewContext.HttpContext.Request.Query["p"];

}

<div class="row mx-0">
    <div class="d-none d-lg-flex col-sm-6 col-xxl-8 align-items-center p-5">
        <div class="w-100 d-flex justify-content-center">
            <img src="~/images/reset-password.png" class="img-fluid" alt='reset-password' width='700' />
        </div>
    </div>
    <div class="d-flex col-12 col-sm-6 col-xxl-4 align-items-center bg-white p-sm-5 p-4 min-vh-100">
        <div class="m-sm-5 w-100">
            <div class="branch">
                <img src="~/images/account-icon.png" class="branch-image" alt="account-icon">
                <div class="branch-name">cbam</div>
            </div>
            <div class="authen-form">
                <div class="form-title">Reset mật khẩu? 🔒</div>
                <form autocomplete="off" id="resetPasswordForm" onsubmit="return false;">
                    <input hidden value="@code" id="code" type="text" asp-for="code" class="form-control" placeholder="·········" tabindex="2">

                    <div class="mb-3">
                        <label asp-for="newpassword" class="form-label">Mật khẩu mới <partial name="_RequiredField" /></label>
                        <div class="input-group input-group-merge has-validation">
                            <input type="password" asp-for="newpassword" class="form-control" placeholder="·········" tabindex="1">
                            <span class="input-group-text toggle-password cursor-pointer">
                                <i class="fa fa-eye-slash icon-hide" aria-hidden="true"></i>
                                <i class="fa fa-eye d-none icon-show" aria-hidden="true"></i>
                            </span>
                        </div>
                        <span asp-validation-for="newpassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="newpasswordConfirm" class="form-label">Xác nhận mật khẩu mới <partial name="_RequiredField" /></label>
                        <div class="input-group input-group-merge has-validation">
                            <input type="password" asp-for="newpasswordConfirm" class="form-control" placeholder="·········" tabindex="2">
                            <span class="input-group-text toggle-password cursor-pointer">
                                <i class="fa fa-eye-slash icon-hide" aria-hidden="true"></i>
                                <i class="fa fa-eye d-none icon-show" aria-hidden="true"></i>
                            </span>
                        </div>
                        <span asp-validation-for="newpasswordConfirm" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button onclick="resetPassword()" class="btn btn-primary w-50 mb-3" tabindex="3">
                            Reset
                        </button>
                    </div>

                </form>
                <p class="text-center mt-2">
                    <a href="/" class="text-decoration-none">
                        <i class="fa fa-chevron-left me-2" aria-hidden="true"></i>
                        <span>Quay về trang chủ</span>
                    </a>
                </p>

            </div>

        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/resetPassword.js" asp-append-version="true"></script>

}

